---
name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install yamllint
        run: pip install yamllint

      - name: Run yamllint
        run: yamllint -c .yamllint.yml .github/workflows/*.yml action.yml .yamllint.yml

      - name: Run actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          fail_level: error
