---
name: Test Action

on:
  push:
    branches:
      - fix-action-env-context

permissions:
  contents: write

jobs:
  test-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          files: sample
          cleanup: true
